<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_save_after">
        <observer name="coretava_order_saved" instance="Coretava\Loyalty\Observer\OrderSaved" />
    </event>
    <event name="catalog_product_save_after">
        <observer name="coretava_product_saved" instance="Coretava\Loyalty\Observer\ProductSaved" />
    </event>
    <event name="catalog_product_delete_after_done">
        <observer name="coretava_product_deleted" instance="Coretava\Loyalty\Observer\ProductDeleted" />
    </event>
</config>
