<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="coretava" translate="label" sortOrder="500">
            <label>Coretava</label>
        </tab>
        <section id="loyalty" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Core Loyalty</label>
            <tab>coretava</tab>
            <resource>Coretava_Loyalty::loyalty_config</resource>
            <group id="general" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>General Configuration</label>
                <field id="coretava_app_id" translate="label" type="text" sortOrder="0" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>App Id</label>
                    <comment>Coretava App Id</comment>
                </field>
                <field id="coretava_app_key" translate="label" type="text" sortOrder="1" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>App Key</label>
                    <comment>Coretava App Key</comment>
                </field>
            </group>
        </section>
    </system>
</config>
